@model MetroAltWebApplication.Models.Driver

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Driver</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DriverLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DriverLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DriverFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DriverFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DriverAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DriverAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DriverCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DriverCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DriverZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DriverZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DriverPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DriverPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DriverEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DriverEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DriverHireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DriverHireDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DriverKey }) |
    @Html.ActionLink("Back to List", "Index")
</p>
